#_decoration-wrap {
  display: none;
}

.decoration-wrap {
  position: fixed;
  height: 800px;
  width: 800px;
  z-index: 1;
}

#alert-text-wrap {
  display: block !important;
  position: fixed !important;
  width: 280px !important;
  height: 150px !important;
  top: 465px !important;
  left: 820px !important;
  word-break: break-word;
}

#alert-text-wrap span {
  font-size: 20px !important;
}

#alert-text-wrap div {
  font-size: 20px !important;
}

#alert-message,
#alert-user-message {
  padding: 1px 5px;
}

#decoration-box {
  position: fixed;
  height: 400px;
  width: 400px;
  top: 340px !important;
  left: 760px !important;
  border: 6px solid white;
  background: #0096ff;
  box-sizing: border-box;
  border-radius: 100%;
  z-index: 101;
}

#decoration-text-bak {
  position: relative;
  top: 18.5px;
  left: 18.5px;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: white;
}

#decoration-text-area {
  position: fixed;
  height: 150px;
  width: 280px;
  top: 465px !important;
  left: 820px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  animation: text-area 1.4s linear;
  background: #556;
  color: white !important;
  z-index: 8;
}

.back,
.front-1,
.front-2,
.front-3 {
  animation: none !important;
}

#decoration-ring-wrap {
  position: fixed;
  height: 550px;
  width: 550px;
  top: 265px !important;
  left: 685px !important;
  animation: decoration-scale .5 linear;
  transform: scale(1);
}

.decoration-ring,
.decoration-ring2 {
  font-size: 2em;
  position: absolute;
  box-sizing: border-box;
  border-radius: 100%;
  color: #0096ff;
}

.decoration-ring {
  height: 500px;
  width: 500px;
  left: 25px;
  top: 25px;
  border: 20px solid #0096FF;
  border-left: 20px solid rgba(0, 150, 255, 0);
  box-sizing: border-box;
  border-radius: 100%;
}

.decoration-ring2 {
  height: 550px;
  width: 550px;
  left: 0;
  top: 0;
  border: 10px solid #0096FF;
  border-left: 10px solid rgba(0, 150, 255, 0);
}

.decoration-ring-partial {
  position: fixed;
  content: " ";
  box-sizing: border-box;
  border-radius: 100%;
  height: 580px;
  width: 580px;
  left: 670px !important;
  top: 250px !important;
  animation: decoration-ring-partial 12s linear infinite;
}

.rotate0 {
  animation: rotate0 1.5s linear infinite;
}

@keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate1 {
  animation: rotate1 1.5s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(370deg);
  }
}

.rotate2 {
  animation: rotate2 1.5s linear infinite;
}

@keyframes rotate2 {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(380deg);
  }
}

.rotate3 {
  animation: rotate3 1.5s linear infinite;
}

@keyframes rotate3 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}

.rotate4 {
  animation: rotate4 1.5s linear infinite;
}

@keyframes rotate4 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(400deg);
  }
}

.rotate5 {
  animation: rotate5 1.5s linear infinite;
}

@keyframes rotate5 {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(410deg);
  }
}

.rotate6 {
  animation: rotate6 1.5s linear infinite;
}

@keyframes rotate6 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}

.rotate7 {
  animation: rotate7 1.5s linear infinite;
}

@keyframes rotate7 {
  0% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(430deg);
  }
}

.rotate8 {
  animation: rotate8 1.5s linear infinite;
}

@keyframes rotate8 {
  0% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(440deg);
  }
}

.rotate9 {
  animation: rotate9 1.5s linear infinite;
}

@keyframes rotate9 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

.rotate10 {
  animation: rotate10 1.5s linear infinite;
}

@keyframes rotate10 {
  0% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(460deg);
  }
}

.rotate11 {
  animation: rotate11 1.5s linear infinite;
}

@keyframes rotate11 {
  0% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(470deg);
  }
}

.rotate12 {
  animation: rotate12 1.5s linear infinite;
}

@keyframes rotate12 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}

.rotate13 {
  animation: rotate13 1.5s linear infinite;
}

@keyframes rotate13 {
  0% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(490deg);
  }
}

.rotate14 {
  animation: rotate14 1.5s linear infinite;
}

@keyframes rotate14 {
  0% {
    transform: rotate(140deg);
  }
  100% {
    transform: rotate(500deg);
  }
}

.rotate15 {
  animation: rotate15 1.5s linear infinite;
}

@keyframes rotate15 {
  0% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(510deg);
  }
}

.rotate16 {
  animation: rotate16 1.5s linear infinite;
}

@keyframes rotate16 {
  0% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(520deg);
  }
}

.rotate17 {
  animation: rotate17 1.5s linear infinite;
}

@keyframes rotate17 {
  0% {
    transform: rotate(170deg);
  }
  100% {
    transform: rotate(530deg);
  }
}

.rotate18 {
  animation: rotate18 1.5s linear infinite;
}

@keyframes rotate18 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

.rotate19 {
  animation: rotate19 1.5s linear infinite;
}

@keyframes rotate19 {
  0% {
    transform: rotate(190deg);
  }
  100% {
    transform: rotate(550deg);
  }
}

.rotate20 {
  animation: rotate20 1.5s linear infinite;
}

@keyframes rotate20 {
  0% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(560deg);
  }
}

.rotate21 {
  animation: rotate21 1.5s linear infinite;
}

@keyframes rotate21 {
  0% {
    transform: rotate(210deg);
  }
  100% {
    transform: rotate(570deg);
  }
}

.rotate22 {
  animation: rotate22 1.5s linear infinite;
}

@keyframes rotate22 {
  0% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(580deg);
  }
}

.rotate23 {
  animation: rotate23 1.5s linear infinite;
}

@keyframes rotate23 {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(590deg);
  }
}

.rotate24 {
  animation: rotate24 1.5s linear infinite;
}

@keyframes rotate24 {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(600deg);
  }
}

.rotate25 {
  animation: rotate25 1.5s linear infinite;
}

@keyframes rotate25 {
  0% {
    transform: rotate(250deg);
  }
  100% {
    transform: rotate(610deg);
  }
}

.rotate26 {
  animation: rotate26 1.5s linear infinite;
}

@keyframes rotate26 {
  0% {
    transform: rotate(260deg);
  }
  100% {
    transform: rotate(620deg);
  }
}

.rotate27 {
  animation: rotate27 1.5s linear infinite;
}

@keyframes rotate27 {
  0% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(630deg);
  }
}

.rotate28 {
  animation: rotate28 1.5s linear infinite;
}

@keyframes rotate28 {
  0% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(640deg);
  }
}

.rotate29 {
  animation: rotate29 1.5s linear infinite;
}

@keyframes rotate29 {
  0% {
    transform: rotate(290deg);
  }
  100% {
    transform: rotate(650deg);
  }
}

.rotate30 {
  animation: rotate30 1.5s linear infinite;
}

@keyframes rotate30 {
  0% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(660deg);
  }
}

.rotate31 {
  animation: rotate31 1.5s linear infinite;
}

@keyframes rotate31 {
  0% {
    transform: rotate(310deg);
  }
  100% {
    transform: rotate(670deg);
  }
}

.rotate32 {
  animation: rotate32 1.5s linear infinite;
}

@keyframes rotate32 {
  0% {
    transform: rotate(320deg);
  }
  100% {
    transform: rotate(680deg);
  }
}

.rotate33 {
  animation: rotate33 1.5s linear infinite;
}

@keyframes rotate33 {
  0% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(690deg);
  }
}

.rotate34 {
  animation: rotate34 1.5s linear infinite;
}

@keyframes rotate34 {
  0% {
    transform: rotate(340deg);
  }
  100% {
    transform: rotate(700deg);
  }
}

.rotate35 {
  animation: rotate35 1.5s linear infinite;
}

@keyframes rotate35 {
  0% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(710deg);
  }
}

.rotate36 {
  animation: rotate36 1.5s linear infinite;
}

@keyframes rotate36 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.rotate-0 {
  animation: rotate-0 1.5s linear infinite;
}

@keyframes rotate-0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-1 {
  animation: rotate-1 1.5s linear infinite;
}

@keyframes rotate-1 {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

.rotate-2 {
  animation: rotate-2 1.5s linear infinite;
}

@keyframes rotate-2 {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(340deg);
  }
}

.rotate-3 {
  animation: rotate-3 1.5s linear infinite;
}

@keyframes rotate-3 {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(330deg);
  }
}

.rotate-4 {
  animation: rotate-4 1.5s linear infinite;
}

@keyframes rotate-4 {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(320deg);
  }
}

.rotate-5 {
  animation: rotate-5 1.5s linear infinite;
}

@keyframes rotate-5 {
  0% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(310deg);
  }
}

.rotate-6 {
  animation: rotate-6 1.5s linear infinite;
}

@keyframes rotate-6 {
  0% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(300deg);
  }
}

.rotate-7 {
  animation: rotate-7 1.5s linear infinite;
}

@keyframes rotate-7 {
  0% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(290deg);
  }
}

.rotate-8 {
  animation: rotate-8 1.5s linear infinite;
}

@keyframes rotate-8 {
  0% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(280deg);
  }
}

.rotate-9 {
  animation: rotate-9 1.5s linear infinite;
}

@keyframes rotate-9 {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.rotate-10 {
  animation: rotate-10 1.5s linear infinite;
}

@keyframes rotate-10 {
  0% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(260deg);
  }
}

.rotate-11 {
  animation: rotate-11 1.5s linear infinite;
}

@keyframes rotate-11 {
  0% {
    transform: rotate(-110deg);
  }
  100% {
    transform: rotate(250deg);
  }
}

.rotate-12 {
  animation: rotate-12 1.5s linear infinite;
}

@keyframes rotate-12 {
  0% {
    transform: rotate(-120deg);
  }
  100% {
    transform: rotate(240deg);
  }
}

.rotate-13 {
  animation: rotate-13 1.5s linear infinite;
}

@keyframes rotate-13 {
  0% {
    transform: rotate(-130deg);
  }
  100% {
    transform: rotate(230deg);
  }
}

.rotate-14 {
  animation: rotate-14 1.5s linear infinite;
}

@keyframes rotate-14 {
  0% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(220deg);
  }
}

.rotate-15 {
  animation: rotate-15 1.5s linear infinite;
}

@keyframes rotate-15 {
  0% {
    transform: rotate(-150deg);
  }
  100% {
    transform: rotate(210deg);
  }
}

.rotate-16 {
  animation: rotate-16 1.5s linear infinite;
}

@keyframes rotate-16 {
  0% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(200deg);
  }
}

.rotate-17 {
  animation: rotate-17 1.5s linear infinite;
}

@keyframes rotate-17 {
  0% {
    transform: rotate(-170deg);
  }
  100% {
    transform: rotate(190deg);
  }
}

.rotate-18 {
  animation: rotate-18 1.5s linear infinite;
}

@keyframes rotate-18 {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.rotate-19 {
  animation: rotate-19 1.5s linear infinite;
}

@keyframes rotate-19 {
  0% {
    transform: rotate(-190deg);
  }
  100% {
    transform: rotate(170deg);
  }
}

.rotate-20 {
  animation: rotate-20 1.5s linear infinite;
}

@keyframes rotate-20 {
  0% {
    transform: rotate(-200deg);
  }
  100% {
    transform: rotate(160deg);
  }
}

.rotate-21 {
  animation: rotate-21 1.5s linear infinite;
}

@keyframes rotate-21 {
  0% {
    transform: rotate(-210deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

.rotate-22 {
  animation: rotate-22 1.5s linear infinite;
}

@keyframes rotate-22 {
  0% {
    transform: rotate(-220deg);
  }
  100% {
    transform: rotate(140deg);
  }
}

.rotate-23 {
  animation: rotate-23 1.5s linear infinite;
}

@keyframes rotate-23 {
  0% {
    transform: rotate(-230deg);
  }
  100% {
    transform: rotate(130deg);
  }
}

.rotate-24 {
  animation: rotate-24 1.5s linear infinite;
}

@keyframes rotate-24 {
  0% {
    transform: rotate(-240deg);
  }
  100% {
    transform: rotate(120deg);
  }
}

.rotate-25 {
  animation: rotate-25 1.5s linear infinite;
}

@keyframes rotate-25 {
  0% {
    transform: rotate(-250deg);
  }
  100% {
    transform: rotate(110deg);
  }
}

.rotate-26 {
  animation: rotate-26 1.5s linear infinite;
}

@keyframes rotate-26 {
  0% {
    transform: rotate(-260deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

.rotate-27 {
  animation: rotate-27 1.5s linear infinite;
}

@keyframes rotate-27 {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.rotate-28 {
  animation: rotate-28 1.5s linear infinite;
}

@keyframes rotate-28 {
  0% {
    transform: rotate(-280deg);
  }
  100% {
    transform: rotate(80deg);
  }
}

.rotate-29 {
  animation: rotate-29 1.5s linear infinite;
}

@keyframes rotate-29 {
  0% {
    transform: rotate(-290deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

.rotate-30 {
  animation: rotate-30 1.5s linear infinite;
}

@keyframes rotate-30 {
  0% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

.rotate-31 {
  animation: rotate-31 1.5s linear infinite;
}

@keyframes rotate-31 {
  0% {
    transform: rotate(-310deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

.rotate-32 {
  animation: rotate-32 1.5s linear infinite;
}

@keyframes rotate-32 {
  0% {
    transform: rotate(-320deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.rotate-33 {
  animation: rotate-33 1.5s linear infinite;
}

@keyframes rotate-33 {
  0% {
    transform: rotate(-330deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.rotate-34 {
  animation: rotate-34 1.5s linear infinite;
}

@keyframes rotate-34 {
  0% {
    transform: rotate(-340deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.rotate-35 {
  animation: rotate-35 1.5s linear infinite;
}

@keyframes rotate-35 {
  0% {
    transform: rotate(-350deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.rotate-36 {
  animation: rotate-36 1.5s linear infinite;
}

@keyframes rotate-36 {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes decoration-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes decoration-ring-noise {
  0% {
    transform: rotate(151deg);
    clip: rect(84px, 9999px, 153px, 0);
  }
  5% {
    transform: rotate(92deg);
    clip: rect(7px, 9999px, 62px, 0);
  }
  10% {
    transform: rotate(43deg);
    clip: rect(49px, 9999px, 7px, 0);
  }
  15% {
    transform: rotate(56deg);
    clip: rect(71px, 9999px, 305px, 0);
  }
  20% {
    transform: rotate(161deg);
    clip: rect(71px, 9999px, 182px, 0);
  }
  25% {
    transform: rotate(13deg);
    clip: rect(60px, 9999px, 393px, 0);
  }
  30% {
    transform: rotate(80deg);
    clip: rect(44px, 9999px, 128px, 0);
  }
  35% {
    transform: rotate(150deg);
    clip: rect(59px, 9999px, 244px, 0);
  }
  40% {
    transform: rotate(75deg);
    clip: rect(25px, 9999px, 326px, 0);
  }
  45% {
    transform: rotate(52deg);
    clip: rect(3px, 9999px, 92px, 0);
  }
  50% {
    transform: rotate(65deg);
    clip: rect(60px, 9999px, 56px, 0);
  }
  55% {
    transform: rotate(41deg);
    clip: rect(76px, 9999px, 352px, 0);
  }
  60% {
    transform: rotate(135deg);
    clip: rect(52px, 9999px, 183px, 0);
  }
  65% {
    transform: rotate(27deg);
    clip: rect(34px, 9999px, 121px, 0);
  }
  70% {
    transform: rotate(108deg);
    clip: rect(61px, 9999px, 353px, 0);
  }
  75% {
    transform: rotate(154deg);
    clip: rect(81px, 9999px, 127px, 0);
  }
  80% {
    transform: rotate(66deg);
    clip: rect(75px, 9999px, 239px, 0);
  }
  85% {
    transform: rotate(116deg);
    clip: rect(65px, 9999px, 324px, 0);
  }
  90% {
    transform: rotate(160deg);
    clip: rect(74px, 9999px, 151px, 0);
  }
  95% {
    transform: rotate(67deg);
    clip: rect(13px, 9999px, 253px, 0);
  }
  100% {
    transform: rotate(127deg);
    clip: rect(66px, 9999px, 149px, 0);
  }
}

@keyframes decoration-ring-noise-2 {
  0% {
    transform: rotate(114deg);
    clip: rect(51px, 9999px, 215px, 0);
  }
  5% {
    transform: rotate(50deg);
    clip: rect(32px, 9999px, 365px, 0);
  }
  10% {
    transform: rotate(147deg);
    clip: rect(17px, 9999px, 68px, 0);
  }
  15% {
    transform: rotate(71deg);
    clip: rect(58px, 9999px, 316px, 0);
  }
  20% {
    transform: rotate(115deg);
    clip: rect(56px, 9999px, 128px, 0);
  }
  25% {
    transform: rotate(66deg);
    clip: rect(29px, 9999px, 119px, 0);
  }
  30% {
    transform: rotate(32deg);
    clip: rect(27px, 9999px, 264px, 0);
  }
  35% {
    transform: rotate(160deg);
    clip: rect(72px, 9999px, 272px, 0);
  }
  40% {
    transform: rotate(88deg);
    clip: rect(19px, 9999px, 94px, 0);
  }
  45% {
    transform: rotate(35deg);
    clip: rect(45px, 9999px, 356px, 0);
  }
  50% {
    transform: rotate(177deg);
    clip: rect(53px, 9999px, 359px, 0);
  }
  55% {
    transform: rotate(9deg);
    clip: rect(70px, 9999px, 116px, 0);
  }
  60% {
    transform: rotate(153deg);
    clip: rect(94px, 9999px, 240px, 0);
  }
  65% {
    transform: rotate(149deg);
    clip: rect(69px, 9999px, 246px, 0);
  }
  70% {
    transform: rotate(153deg);
    clip: rect(83px, 9999px, 119px, 0);
  }
  75% {
    transform: rotate(74deg);
    clip: rect(95px, 9999px, 81px, 0);
  }
  80% {
    transform: rotate(65deg);
    clip: rect(17px, 9999px, 174px, 0);
  }
  85% {
    transform: rotate(172deg);
    clip: rect(53px, 9999px, 377px, 0);
  }
  90% {
    transform: rotate(73deg);
    clip: rect(98px, 9999px, 64px, 0);
  }
  95% {
    transform: rotate(11deg);
    clip: rect(40px, 9999px, 13px, 0);
  }
  100% {
    transform: rotate(61deg);
    clip: rect(100px, 9999px, 161px, 0);
  }
}

@keyframes decoration-ring-partial {
  0% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 32%, #0096ff 32%, #0096ff 34%, rgba(0, 150, 255, 0) 34%, rgba(0, 150, 255, 0) 56%, #0096ff 56%, #0096ff 58%, rgba(0, 150, 255, 0) 58%, rgba(0, 150, 255, 0) 106%, #0096ff 106%, #0096ff 108%, rgba(0, 150, 255, 0) 108%);
  }
  1.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 95%, #0096ff 95%, #0096ff 98%, rgba(0, 150, 255, 0) 98%, rgba(0, 150, 255, 0) 127%, #0096ff 127%, #0096ff 128%, rgba(0, 150, 255, 0) 128%, rgba(0, 150, 255, 0) 158%, #0096ff 158%, #0096ff 161%, rgba(0, 150, 255, 0) 161%);
  }
  2.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 98%, #0096ff 98%, #0096ff 101%, rgba(0, 150, 255, 0) 101%, rgba(0, 150, 255, 0) 104%, #0096ff 104%, #0096ff 107%, rgba(0, 150, 255, 0) 107%, rgba(0, 150, 255, 0) 139%, #0096ff 139%, #0096ff 141%, rgba(0, 150, 255, 0) 141%);
  }
  4.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 70%, #0096ff 70%, #0096ff 72%, rgba(0, 150, 255, 0) 72%, rgba(0, 150, 255, 0) 108%, #0096ff 108%, #0096ff 110%, rgba(0, 150, 255, 0) 110%, rgba(0, 150, 255, 0) 121%, #0096ff 121%, #0096ff 122%, rgba(0, 150, 255, 0) 122%);
  }
  5.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 33%, #0096ff 33%, #0096ff 35%, rgba(0, 150, 255, 0) 35%, rgba(0, 150, 255, 0) 38%, #0096ff 38%, #0096ff 40%, rgba(0, 150, 255, 0) 40%, rgba(0, 150, 255, 0) 70%, #0096ff 70%, #0096ff 73%, rgba(0, 150, 255, 0) 73%);
  }
  7.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 80%, #0096ff 80%, #0096ff 83%, rgba(0, 150, 255, 0) 83%, rgba(0, 150, 255, 0) 132%, #0096ff 132%, #0096ff 133%, rgba(0, 150, 255, 0) 133%, rgba(0, 150, 255, 0) 149%, #0096ff 149%, #0096ff 152%, rgba(0, 150, 255, 0) 152%);
  }
  8.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 54%, #0096ff 54%, #0096ff 55%, rgba(0, 150, 255, 0) 55%, rgba(0, 150, 255, 0) 61%, #0096ff 61%, #0096ff 64%, rgba(0, 150, 255, 0) 64%, rgba(0, 150, 255, 0) 83%, #0096ff 83%, #0096ff 84%, rgba(0, 150, 255, 0) 84%);
  }
  10% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 58%, #0096ff 58%, #0096ff 60%, rgba(0, 150, 255, 0) 60%, rgba(0, 150, 255, 0) 70%, #0096ff 70%, #0096ff 73%, rgba(0, 150, 255, 0) 73%, rgba(0, 150, 255, 0) 111%, #0096ff 111%, #0096ff 114%, rgba(0, 150, 255, 0) 114%);
  }
  11.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 1%, #0096ff 1%, #0096ff 3%, rgba(0, 150, 255, 0) 3%, rgba(0, 150, 255, 0) 44%, #0096ff 44%, #0096ff 47%, rgba(0, 150, 255, 0) 47%, rgba(0, 150, 255, 0) 55%, #0096ff 55%, #0096ff 57%, rgba(0, 150, 255, 0) 57%);
  }
  12.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 21%, #0096ff 21%, #0096ff 23%, rgba(0, 150, 255, 0) 23%, rgba(0, 150, 255, 0) 37%, #0096ff 37%, #0096ff 40%, rgba(0, 150, 255, 0) 40%, rgba(0, 150, 255, 0) 62%, #0096ff 62%, #0096ff 63%, rgba(0, 150, 255, 0) 63%);
  }
  14.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 47%, #0096ff 47%, #0096ff 49%, rgba(0, 150, 255, 0) 49%, rgba(0, 150, 255, 0) 61%, #0096ff 61%, #0096ff 62%, rgba(0, 150, 255, 0) 62%, rgba(0, 150, 255, 0) 72%, #0096ff 72%, #0096ff 74%, rgba(0, 150, 255, 0) 74%);
  }
  15.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 39%, #0096ff 39%, #0096ff 41%, rgba(0, 150, 255, 0) 41%, rgba(0, 150, 255, 0) 53%, #0096ff 53%, #0096ff 54%, rgba(0, 150, 255, 0) 54%, rgba(0, 150, 255, 0) 97%, #0096ff 97%, #0096ff 98%, rgba(0, 150, 255, 0) 98%);
  }
  17.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 76%, #0096ff 76%, #0096ff 78%, rgba(0, 150, 255, 0) 78%, rgba(0, 150, 255, 0) 107%, #0096ff 107%, #0096ff 108%, rgba(0, 150, 255, 0) 108%, rgba(0, 150, 255, 0) 116%, #0096ff 116%, #0096ff 119%, rgba(0, 150, 255, 0) 119%);
  }
  18.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 20%, #0096ff 20%, #0096ff 22%, rgba(0, 150, 255, 0) 22%, rgba(0, 150, 255, 0) 54%, #0096ff 54%, #0096ff 55%, rgba(0, 150, 255, 0) 55%, rgba(0, 150, 255, 0) 92%, #0096ff 92%, #0096ff 95%, rgba(0, 150, 255, 0) 95%);
  }
  20% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 48%, #0096ff 48%, #0096ff 49%, rgba(0, 150, 255, 0) 49%, rgba(0, 150, 255, 0) 94%, #0096ff 94%, #0096ff 97%, rgba(0, 150, 255, 0) 97%, rgba(0, 150, 255, 0) 102%, #0096ff 102%, #0096ff 103%, rgba(0, 150, 255, 0) 103%);
  }
  21.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 79%, #0096ff 79%, #0096ff 82%, rgba(0, 150, 255, 0) 82%, rgba(0, 150, 255, 0) 111%, #0096ff 111%, #0096ff 112%, rgba(0, 150, 255, 0) 112%, rgba(0, 150, 255, 0) 122%, #0096ff 122%, #0096ff 125%, rgba(0, 150, 255, 0) 125%);
  }
  22.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 2%, #0096ff 2%, #0096ff 5%, rgba(0, 150, 255, 0) 5%, rgba(0, 150, 255, 0) 30%, #0096ff 30%, #0096ff 31%, rgba(0, 150, 255, 0) 31%, rgba(0, 150, 255, 0) 45%, #0096ff 45%, #0096ff 46%, rgba(0, 150, 255, 0) 46%);
  }
  24.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 8%, #0096ff 8%, #0096ff 11%, rgba(0, 150, 255, 0) 11%, rgba(0, 150, 255, 0) 54%, #0096ff 54%, #0096ff 57%, rgba(0, 150, 255, 0) 57%, rgba(0, 150, 255, 0) 103%, #0096ff 103%, #0096ff 104%, rgba(0, 150, 255, 0) 104%);
  }
  25.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 63%, #0096ff 63%, #0096ff 66%, rgba(0, 150, 255, 0) 66%, rgba(0, 150, 255, 0) 89%, #0096ff 89%, #0096ff 91%, rgba(0, 150, 255, 0) 91%, rgba(0, 150, 255, 0) 140%, #0096ff 140%, #0096ff 143%, rgba(0, 150, 255, 0) 143%);
  }
  27.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 29%, #0096ff 29%, #0096ff 30%, rgba(0, 150, 255, 0) 30%, rgba(0, 150, 255, 0) 34%, #0096ff 34%, #0096ff 35%, rgba(0, 150, 255, 0) 35%, rgba(0, 150, 255, 0) 49%, #0096ff 49%, #0096ff 51%, rgba(0, 150, 255, 0) 51%);
  }
  28.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 80%, #0096ff 80%, #0096ff 83%, rgba(0, 150, 255, 0) 83%, rgba(0, 150, 255, 0) 96%, #0096ff 96%, #0096ff 97%, rgba(0, 150, 255, 0) 97%, rgba(0, 150, 255, 0) 107%, #0096ff 107%, #0096ff 109%, rgba(0, 150, 255, 0) 109%);
  }
  30% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 38%, #0096ff 38%, #0096ff 40%, rgba(0, 150, 255, 0) 40%, rgba(0, 150, 255, 0) 61%, #0096ff 61%, #0096ff 62%, rgba(0, 150, 255, 0) 62%, rgba(0, 150, 255, 0) 86%, #0096ff 86%, #0096ff 89%, rgba(0, 150, 255, 0) 89%);
  }
  31.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 46%, #0096ff 46%, #0096ff 47%, rgba(0, 150, 255, 0) 47%, rgba(0, 150, 255, 0) 97%, #0096ff 97%, #0096ff 98%, rgba(0, 150, 255, 0) 98%, rgba(0, 150, 255, 0) 122%, #0096ff 122%, #0096ff 124%, rgba(0, 150, 255, 0) 124%);
  }
  32.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 53%, #0096ff 53%, #0096ff 56%, rgba(0, 150, 255, 0) 56%, rgba(0, 150, 255, 0) 66%, #0096ff 66%, #0096ff 68%, rgba(0, 150, 255, 0) 68%, rgba(0, 150, 255, 0) 76%, #0096ff 76%, #0096ff 79%, rgba(0, 150, 255, 0) 79%);
  }
  34.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 69%, #0096ff 69%, #0096ff 70%, rgba(0, 150, 255, 0) 70%, rgba(0, 150, 255, 0) 103%, #0096ff 103%, #0096ff 105%, rgba(0, 150, 255, 0) 105%, rgba(0, 150, 255, 0) 142%, #0096ff 142%, #0096ff 144%, rgba(0, 150, 255, 0) 144%);
  }
  35.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 53%, #0096ff 53%, #0096ff 54%, rgba(0, 150, 255, 0) 54%, rgba(0, 150, 255, 0) 72%, #0096ff 72%, #0096ff 74%, rgba(0, 150, 255, 0) 74%, rgba(0, 150, 255, 0) 94%, #0096ff 94%, #0096ff 97%, rgba(0, 150, 255, 0) 97%);
  }
  37.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 28%, #0096ff 28%, #0096ff 31%, rgba(0, 150, 255, 0) 31%, rgba(0, 150, 255, 0) 49%, #0096ff 49%, #0096ff 51%, rgba(0, 150, 255, 0) 51%, rgba(0, 150, 255, 0) 83%, #0096ff 83%, #0096ff 84%, rgba(0, 150, 255, 0) 84%);
  }
  38.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 86%, #0096ff 86%, #0096ff 89%, rgba(0, 150, 255, 0) 89%, rgba(0, 150, 255, 0) 115%, #0096ff 115%, #0096ff 117%, rgba(0, 150, 255, 0) 117%, rgba(0, 150, 255, 0) 133%, #0096ff 133%, #0096ff 135%, rgba(0, 150, 255, 0) 135%);
  }
  40% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 80%, #0096ff 80%, #0096ff 81%, rgba(0, 150, 255, 0) 81%, rgba(0, 150, 255, 0) 107%, #0096ff 107%, #0096ff 110%, rgba(0, 150, 255, 0) 110%, rgba(0, 150, 255, 0) 124%, #0096ff 124%, #0096ff 125%, rgba(0, 150, 255, 0) 125%);
  }
  41.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 74%, #0096ff 74%, #0096ff 75%, rgba(0, 150, 255, 0) 75%, rgba(0, 150, 255, 0) 119%, #0096ff 119%, #0096ff 120%, rgba(0, 150, 255, 0) 120%, rgba(0, 150, 255, 0) 152%, #0096ff 152%, #0096ff 153%, rgba(0, 150, 255, 0) 153%);
  }
  42.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 27%, #0096ff 27%, #0096ff 29%, rgba(0, 150, 255, 0) 29%, rgba(0, 150, 255, 0) 79%, #0096ff 79%, #0096ff 82%, rgba(0, 150, 255, 0) 82%, rgba(0, 150, 255, 0) 114%, #0096ff 114%, #0096ff 115%, rgba(0, 150, 255, 0) 115%);
  }
  44.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 4%, #0096ff 4%, #0096ff 7%, rgba(0, 150, 255, 0) 7%, rgba(0, 150, 255, 0) 14%, #0096ff 14%, #0096ff 16%, rgba(0, 150, 255, 0) 16%, rgba(0, 150, 255, 0) 31%, #0096ff 31%, #0096ff 34%, rgba(0, 150, 255, 0) 34%);
  }
  45.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 9%, #0096ff 9%, #0096ff 12%, rgba(0, 150, 255, 0) 12%, rgba(0, 150, 255, 0) 32%, #0096ff 32%, #0096ff 33%, rgba(0, 150, 255, 0) 33%, rgba(0, 150, 255, 0) 53%, #0096ff 53%, #0096ff 54%, rgba(0, 150, 255, 0) 54%);
  }
  47.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 100%, #0096ff 100%, #0096ff 102%, rgba(0, 150, 255, 0) 102%, rgba(0, 150, 255, 0) 138%, #0096ff 138%, #0096ff 139%, rgba(0, 150, 255, 0) 139%, rgba(0, 150, 255, 0) 168%, #0096ff 168%, #0096ff 170%, rgba(0, 150, 255, 0) 170%);
  }
  48.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 2%, #0096ff 2%, #0096ff 5%, rgba(0, 150, 255, 0) 5%, rgba(0, 150, 255, 0) 35%, #0096ff 35%, #0096ff 36%, rgba(0, 150, 255, 0) 36%, rgba(0, 150, 255, 0) 63%, #0096ff 63%, #0096ff 66%, rgba(0, 150, 255, 0) 66%);
  }
  50% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 12%, #0096ff 12%, #0096ff 13%, rgba(0, 150, 255, 0) 13%, rgba(0, 150, 255, 0) 34%, #0096ff 34%, #0096ff 37%, rgba(0, 150, 255, 0) 37%, rgba(0, 150, 255, 0) 58%, #0096ff 58%, #0096ff 59%, rgba(0, 150, 255, 0) 59%);
  }
  51.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 13%, #0096ff 13%, #0096ff 15%, rgba(0, 150, 255, 0) 15%, rgba(0, 150, 255, 0) 22%, #0096ff 22%, #0096ff 24%, rgba(0, 150, 255, 0) 24%, rgba(0, 150, 255, 0) 55%, #0096ff 55%, #0096ff 56%, rgba(0, 150, 255, 0) 56%);
  }
  52.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 37%, #0096ff 37%, #0096ff 38%, rgba(0, 150, 255, 0) 38%, rgba(0, 150, 255, 0) 73%, #0096ff 73%, #0096ff 76%, rgba(0, 150, 255, 0) 76%, rgba(0, 150, 255, 0) 124%, #0096ff 124%, #0096ff 127%, rgba(0, 150, 255, 0) 127%);
  }
  54.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 13%, #0096ff 13%, #0096ff 14%, rgba(0, 150, 255, 0) 14%, rgba(0, 150, 255, 0) 25%, #0096ff 25%, #0096ff 28%, rgba(0, 150, 255, 0) 28%, rgba(0, 150, 255, 0) 29%, #0096ff 29%, #0096ff 32%, rgba(0, 150, 255, 0) 32%);
  }
  55.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 59%, #0096ff 59%, #0096ff 62%, rgba(0, 150, 255, 0) 62%, rgba(0, 150, 255, 0) 89%, #0096ff 89%, #0096ff 91%, rgba(0, 150, 255, 0) 91%, rgba(0, 150, 255, 0) 94%, #0096ff 94%, #0096ff 97%, rgba(0, 150, 255, 0) 97%);
  }
  57.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 50%, #0096ff 50%, #0096ff 52%, rgba(0, 150, 255, 0) 52%, rgba(0, 150, 255, 0) 102%, #0096ff 102%, #0096ff 104%, rgba(0, 150, 255, 0) 104%, rgba(0, 150, 255, 0) 142%, #0096ff 142%, #0096ff 144%, rgba(0, 150, 255, 0) 144%);
  }
  58.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 84%, #0096ff 84%, #0096ff 87%, rgba(0, 150, 255, 0) 87%, rgba(0, 150, 255, 0) 101%, #0096ff 101%, #0096ff 103%, rgba(0, 150, 255, 0) 103%, rgba(0, 150, 255, 0) 142%, #0096ff 142%, #0096ff 143%, rgba(0, 150, 255, 0) 143%);
  }
  60% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 18%, #0096ff 18%, #0096ff 19%, rgba(0, 150, 255, 0) 19%, rgba(0, 150, 255, 0) 57%, #0096ff 57%, #0096ff 58%, rgba(0, 150, 255, 0) 58%, rgba(0, 150, 255, 0) 102%, #0096ff 102%, #0096ff 105%, rgba(0, 150, 255, 0) 105%);
  }
  61.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 64%, #0096ff 64%, #0096ff 66%, rgba(0, 150, 255, 0) 66%, rgba(0, 150, 255, 0) 116%, #0096ff 116%, #0096ff 117%, rgba(0, 150, 255, 0) 117%, rgba(0, 150, 255, 0) 124%, #0096ff 124%, #0096ff 126%, rgba(0, 150, 255, 0) 126%);
  }
  62.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 92%, #0096ff 92%, #0096ff 94%, rgba(0, 150, 255, 0) 94%, rgba(0, 150, 255, 0) 119%, #0096ff 119%, #0096ff 120%, rgba(0, 150, 255, 0) 120%, rgba(0, 150, 255, 0) 153%, #0096ff 153%, #0096ff 155%, rgba(0, 150, 255, 0) 155%);
  }
  64.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 63%, #0096ff 63%, #0096ff 65%, rgba(0, 150, 255, 0) 65%, rgba(0, 150, 255, 0) 101%, #0096ff 101%, #0096ff 103%, rgba(0, 150, 255, 0) 103%, rgba(0, 150, 255, 0) 104%, #0096ff 104%, #0096ff 105%, rgba(0, 150, 255, 0) 105%);
  }
  65.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 43%, #0096ff 43%, #0096ff 45%, rgba(0, 150, 255, 0) 45%, rgba(0, 150, 255, 0) 59%, #0096ff 59%, #0096ff 60%, rgba(0, 150, 255, 0) 60%, rgba(0, 150, 255, 0) 87%, #0096ff 87%, #0096ff 90%, rgba(0, 150, 255, 0) 90%);
  }
  67.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 32%, #0096ff 32%, #0096ff 34%, rgba(0, 150, 255, 0) 34%, rgba(0, 150, 255, 0) 73%, #0096ff 73%, #0096ff 76%, rgba(0, 150, 255, 0) 76%, rgba(0, 150, 255, 0) 111%, #0096ff 111%, #0096ff 112%, rgba(0, 150, 255, 0) 112%);
  }
  68.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 74%, #0096ff 74%, #0096ff 76%, rgba(0, 150, 255, 0) 76%, rgba(0, 150, 255, 0) 101%, #0096ff 101%, #0096ff 102%, rgba(0, 150, 255, 0) 102%, rgba(0, 150, 255, 0) 119%, #0096ff 119%, #0096ff 121%, rgba(0, 150, 255, 0) 121%);
  }
  70% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 18%, #0096ff 18%, #0096ff 21%, rgba(0, 150, 255, 0) 21%, rgba(0, 150, 255, 0) 46%, #0096ff 46%, #0096ff 47%, rgba(0, 150, 255, 0) 47%, rgba(0, 150, 255, 0) 78%, #0096ff 78%, #0096ff 81%, rgba(0, 150, 255, 0) 81%);
  }
  71.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 42%, #0096ff 42%, #0096ff 43%, rgba(0, 150, 255, 0) 43%, rgba(0, 150, 255, 0) 85%, #0096ff 85%, #0096ff 87%, rgba(0, 150, 255, 0) 87%, rgba(0, 150, 255, 0) 114%, #0096ff 114%, #0096ff 116%, rgba(0, 150, 255, 0) 116%);
  }
  72.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 24%, #0096ff 24%, #0096ff 26%, rgba(0, 150, 255, 0) 26%, rgba(0, 150, 255, 0) 40%, #0096ff 40%, #0096ff 43%, rgba(0, 150, 255, 0) 43%, rgba(0, 150, 255, 0) 65%, #0096ff 65%, #0096ff 68%, rgba(0, 150, 255, 0) 68%);
  }
  74.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 58%, #0096ff 58%, #0096ff 60%, rgba(0, 150, 255, 0) 60%, rgba(0, 150, 255, 0) 92%, #0096ff 92%, #0096ff 94%, rgba(0, 150, 255, 0) 94%, rgba(0, 150, 255, 0) 113%, #0096ff 113%, #0096ff 116%, rgba(0, 150, 255, 0) 116%);
  }
  75.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 85%, #0096ff 85%, #0096ff 86%, rgba(0, 150, 255, 0) 86%, rgba(0, 150, 255, 0) 100%, #0096ff 100%, #0096ff 103%, rgba(0, 150, 255, 0) 103%, rgba(0, 150, 255, 0) 119%, #0096ff 119%, #0096ff 121%, rgba(0, 150, 255, 0) 121%);
  }
  77.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 29%, #0096ff 29%, #0096ff 30%, rgba(0, 150, 255, 0) 30%, rgba(0, 150, 255, 0) 75%, #0096ff 75%, #0096ff 76%, rgba(0, 150, 255, 0) 76%, rgba(0, 150, 255, 0) 81%, #0096ff 81%, #0096ff 83%, rgba(0, 150, 255, 0) 83%);
  }
  78.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 89%, #0096ff 89%, #0096ff 91%, rgba(0, 150, 255, 0) 91%, rgba(0, 150, 255, 0) 99%, #0096ff 99%, #0096ff 102%, rgba(0, 150, 255, 0) 102%, rgba(0, 150, 255, 0) 116%, #0096ff 116%, #0096ff 117%, rgba(0, 150, 255, 0) 117%);
  }
  80% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 51%, #0096ff 51%, #0096ff 52%, rgba(0, 150, 255, 0) 52%, rgba(0, 150, 255, 0) 78%, #0096ff 78%, #0096ff 79%, rgba(0, 150, 255, 0) 79%, rgba(0, 150, 255, 0) 114%, #0096ff 114%, #0096ff 117%, rgba(0, 150, 255, 0) 117%);
  }
  81.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 39%, #0096ff 39%, #0096ff 40%, rgba(0, 150, 255, 0) 40%, rgba(0, 150, 255, 0) 62%, #0096ff 62%, #0096ff 65%, rgba(0, 150, 255, 0) 65%, rgba(0, 150, 255, 0) 77%, #0096ff 77%, #0096ff 78%, rgba(0, 150, 255, 0) 78%);
  }
  82.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 92%, #0096ff 92%, #0096ff 95%, rgba(0, 150, 255, 0) 95%, rgba(0, 150, 255, 0) 106%, #0096ff 106%, #0096ff 108%, rgba(0, 150, 255, 0) 108%, rgba(0, 150, 255, 0) 119%, #0096ff 119%, #0096ff 120%, rgba(0, 150, 255, 0) 120%);
  }
  84.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 88%, #0096ff 88%, #0096ff 91%, rgba(0, 150, 255, 0) 91%, rgba(0, 150, 255, 0) 138%, #0096ff 138%, #0096ff 141%, rgba(0, 150, 255, 0) 141%, rgba(0, 150, 255, 0) 169%, #0096ff 169%, #0096ff 170%, rgba(0, 150, 255, 0) 170%);
  }
  85.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 88%, #0096ff 88%, #0096ff 89%, rgba(0, 150, 255, 0) 89%, rgba(0, 150, 255, 0) 115%, #0096ff 115%, #0096ff 116%, rgba(0, 150, 255, 0) 116%, rgba(0, 150, 255, 0) 145%, #0096ff 145%, #0096ff 146%, rgba(0, 150, 255, 0) 146%);
  }
  87.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 100%, #0096ff 100%, #0096ff 103%, rgba(0, 150, 255, 0) 103%, rgba(0, 150, 255, 0) 132%, #0096ff 132%, #0096ff 133%, rgba(0, 150, 255, 0) 133%, rgba(0, 150, 255, 0) 182%, #0096ff 182%, #0096ff 183%, rgba(0, 150, 255, 0) 183%);
  }
  88.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 52%, #0096ff 52%, #0096ff 55%, rgba(0, 150, 255, 0) 55%, rgba(0, 150, 255, 0) 62%, #0096ff 62%, #0096ff 63%, rgba(0, 150, 255, 0) 63%, rgba(0, 150, 255, 0) 97%, #0096ff 97%, #0096ff 98%, rgba(0, 150, 255, 0) 98%);
  }
  90% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 11%, #0096ff 11%, #0096ff 12%, rgba(0, 150, 255, 0) 12%, rgba(0, 150, 255, 0) 38%, #0096ff 38%, #0096ff 40%, rgba(0, 150, 255, 0) 40%, rgba(0, 150, 255, 0) 81%, #0096ff 81%, #0096ff 83%, rgba(0, 150, 255, 0) 83%);
  }
  91.42857% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 13%, #0096ff 13%, #0096ff 14%, rgba(0, 150, 255, 0) 14%, rgba(0, 150, 255, 0) 46%, #0096ff 46%, #0096ff 49%, rgba(0, 150, 255, 0) 49%, rgba(0, 150, 255, 0) 55%, #0096ff 55%, #0096ff 56%, rgba(0, 150, 255, 0) 56%);
  }
  92.85714% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 89%, #0096ff 89%, #0096ff 91%, rgba(0, 150, 255, 0) 91%, rgba(0, 150, 255, 0) 118%, #0096ff 118%, #0096ff 120%, rgba(0, 150, 255, 0) 120%, rgba(0, 150, 255, 0) 157%, #0096ff 157%, #0096ff 160%, rgba(0, 150, 255, 0) 160%);
  }
  94.28571% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 70%, #0096ff 70%, #0096ff 72%, rgba(0, 150, 255, 0) 72%, rgba(0, 150, 255, 0) 87%, #0096ff 87%, #0096ff 90%, rgba(0, 150, 255, 0) 90%, rgba(0, 150, 255, 0) 93%, #0096ff 93%, #0096ff 94%, rgba(0, 150, 255, 0) 94%);
  }
  95.71429% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 52%, #0096ff 52%, #0096ff 53%, rgba(0, 150, 255, 0) 53%, rgba(0, 150, 255, 0) 82%, #0096ff 82%, #0096ff 85%, rgba(0, 150, 255, 0) 85%, rgba(0, 150, 255, 0) 106%, #0096ff 106%, #0096ff 109%, rgba(0, 150, 255, 0) 109%);
  }
  97.14286% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 9%, #0096ff 9%, #0096ff 11%, rgba(0, 150, 255, 0) 11%, rgba(0, 150, 255, 0) 59%, #0096ff 59%, #0096ff 62%, rgba(0, 150, 255, 0) 62%, rgba(0, 150, 255, 0) 102%, #0096ff 102%, #0096ff 105%, rgba(0, 150, 255, 0) 105%);
  }
  98.57143% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 26%, #0096ff 26%, #0096ff 28%, rgba(0, 150, 255, 0) 28%, rgba(0, 150, 255, 0) 53%, #0096ff 53%, #0096ff 55%, rgba(0, 150, 255, 0) 55%, rgba(0, 150, 255, 0) 70%, #0096ff 70%, #0096ff 72%, rgba(0, 150, 255, 0) 72%);
  }
  100% {
    background-image: conic-gradient(rgba(0, 150, 255, 0) 64%, #0096ff 64%, #0096ff 66%, rgba(0, 150, 255, 0) 66%, rgba(0, 150, 255, 0) 93%, #0096ff 93%, #0096ff 95%, rgba(0, 150, 255, 0) 95%, rgba(0, 150, 255, 0) 102%, #0096ff 102%, #0096ff 104%, rgba(0, 150, 255, 0) 104%);
  }
}

@keyframes text-area {
  0% {
    background: black;
    border-radius: 100%;
    transform: scale(0);
  }
  50% {
    background: black;
    border-radius: 100%;
    transform: scale(0);
  }
  58% {
    transform: scale(0.53571, 1);
  }
  66% {
    background: #556;
    transform: scale(0.53571, 1);
    border-radius: 0%;
  }
  74% {
    background: #556;
    transform: scale(0.9, 1);
  }
  100% {
    background: #556;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    transform: scale(1);
  }
}
